* {
  float: none;       /* Screens are not big enough to account for floats */
  font-size: 80%;    /* Slightly reducing font size to reduce need to scroll */ 
  background: #fff;  /*  As much contrast as possible */
  color: #000;
}
/*
     FILE ARCHIVED ON 18:17:11 Aug 20, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:30:31 Mar 31, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.378
  exclusion.robots: 0.01
  exclusion.robots.policy: 0.004
  esindex: 0.006
  cdx.remote: 137.317
  LoadShardBlock: 509.206 (3)
  PetaboxLoader3.datanode: 540.109 (5)
  PetaboxLoader3.resolve: 163.398 (3)
  load_resource: 209.377 (2)
*/